Repository ahmed-sudani/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TasksTableHeader
  src/features/todo/components/tasksTable/header/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TaskRow
  src/features/todo/components/tasksTable/row/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add ActionButton
  src/features/todo/components/tasksTable/row/ActionButton/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TaskEditInput
  src/features/todo/components/tasksTable/row/input/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TaskEditInput tests
  src/features/todo/components/tasksTable/row/input/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TaskStatus
  src/features/todo/components/tasksTable/row/status/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TaskStatus tests
  src/features/todo/components/tasksTable/row/status/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add Todo
  src/features/todo/components/todo/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add Todo tests
  src/features/todo/components/todo/__snapshots__/index.test.tsx.snap
  src/features/todo/components/todo/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(hook): add useFilterTasks
  src/features/todo/hooks/filter/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(tests): add useFilterTasks tests
  src/features/todo/hooks/filter/index.test.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(types): add TaskType
  src/features/todo/types/task/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(util): tasks
  src/features/todo/util/tasks/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(tests): tasks
  src/features/todo/util/tasks/index.test.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(signals): tasks
  src/features/todo/signals/tasks/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(signals): filters
  src/features/todo/signals/filter/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(page): index
  src/pages/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

fix(README): add .md extension
  README.md
Due: yarn prettier:write

feat: deploy to GitHub Pages
  .github/workflows/deploy.yml
Due: none

deploy: ecfe08372824decddf665a92718d88fe912b7a94
  .nojekyll
  assets/index-1940e29a.css
  assets/index-d3412b74.js
  icons/edit.svg
  icons/favicon.svg
  icons/search.svg
  index.html
Due: yarn prettier:write

fix(vite): add base url
  vite.config.ts
Due: yarn lint:check, yarn prettier:write, yarn test

deploy: f3ba91c17f60e8e8da4d8b9f9ea46cf562f08f79
  index.html
Due: yarn prettier:write

fix: svg url
  src/features/todo/components/tasksFilter/searchInput/index.tsx
  src/features/todo/components/tasksTable/row/input/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

fix(vite): change the baseurl order
  vite.config.ts
Due: yarn lint:check, yarn prettier:write, yarn test

deploy: 8db0d366bdd5b61c8e37c25d96e16d6a1bcfea53
  assets/index-d3412b74.js
  assets/index-e2df34a2.js
  index.html
Due: yarn prettier:write

feat: add concurrently
  package.json
Due: yarn prettier:write

fix: run tw:watch and vite using concurrently
  package.json
Due: yarn prettier:write

feat: add concurrently
  yarn.lock
Due: none

fix(lint-staged): remove tests script
  .lintstagedrc
Due: none

fix(typescript): allow skipLibCheck
  tsconfig.json
Due: yarn prettier:write

fix(css): remove index.css
  src/styles/index.css
Due: yarn prettier:write

fix(tests): update snapshot
  src/features/todo/components/tasksFilter/__snapshots__/index.test.tsx.snap
  src/features/todo/components/todo/__snapshots__/index.test.tsx.snap
Due: none

fix(gitignore): add index.css to ignore list
  .gitignore
Due: none

fix(css): add empty index.css
  src/styles/index.css
Due: yarn prettier:write

deploy: ea0ddc806e9c09728e246f6214b67df5d0a125cc
  assets/index-1940e29a.css
  assets/index-42238036.js
  assets/index-e3b0c442.css
  index.html
Due: yarn prettier:write

deploy: 1141a67f6d473e7c387fa5b226b42094cbf71ac8
  assets/index-981a7e06.js
  assets/index-e3b0c442.css
  index.html
Due: yarn prettier:write

fix: run build commands sequentially
  package.json
Due: yarn prettier:write

Path conditions:
  yarn lint:check: any of: *.{ts,tsx}
  yarn prettier:write: (any of: *.{ts,tsx}) or (any of: *.{html,css,js,json,md})
  yarn test: any of: *.{ts,tsx}
