Repository ahmed-sudani/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:check, yarn prettier:write, yarn test

feat: prettier config file
  .prettierrc
Due: none

feat: postcss config file
  postcss.config.js
Due: yarn prettier:write

feat: tailwindcss config file
  tailwind.config.js
Due: yarn prettier:write

feat: typescript config file
  tsconfig.json
Due: yarn prettier:write

feat: vite config file
  vite.config.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat: css styles
  src/styles/index.css
  src/styles/tailwind.css
Due: yarn prettier:write

fix(lint-staged): run test only on test files
  .lintstagedrc
Due: none

feat: public svg files
  public/icons/edit.svg
  public/icons/favicon.svg
  public/icons/search.svg
Due: none

fix(vitest): test setups
  src/setup.tests.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat: preact index file
  src/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat: index.html
  index.html
Due: yarn prettier:write

feat: package.json config file
  package.json
Due: yarn prettier:write

feat: yarn.lock
  yarn.lock
Due: none

feat: .gitignore
  .gitignore
Due: none

feat: core button
  src/core/components/button/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat: core button tests
  src/core/components/button/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat: core button tests snapsot
  src/core/components/button/__snapshots__/index.test.tsx.snap
Due: none

feat: core input
  src/core/components/input/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat: core input tests
  src/core/components/input/__snapshots__/index.test.tsx.snap
  src/core/components/input/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat: core inputWithSvg
  src/core/components/input/input.with.svg.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

fix: preact.d.ts types
  src/core/types/preact.d.ts
Due: yarn lint:check, yarn prettier:write, yarn test

docs: license
  LICENSE
Due: none

docs: readme
  README
Due: none

feat: classname unit func
  src/core/util/cn/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat: signalsetter unit func
  src/core/util/signalSetter/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat: signalsetter tests
  src/core/util/signalSetter/index.test.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat: timesince unit func
  src/core/util/timeSince/index.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat: timesince unit func tests
  src/core/util/timeSince/index.test.ts
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): todo header
  src/features/todo/components/header/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): todo header tests
  src/features/todo/components/header/__snapshots__/inde.test.tsx.snap
  src/features/todo/components/header/inde.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): task form
  src/features/todo/components/taskForm/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): task form tests
  src/features/todo/components/taskForm/__snapshots__/index.test.tsx.snap
  src/features/todo/components/taskForm/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): tasks action buttons
  src/features/todo/components/tasksActionButtons/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): tasks action buttons tests
  src/features/todo/components/tasksActionButtons/__snapshots__/index.test.tsx.snap
  src/features/todo/components/tasksActionButtons/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): tasks filter
  src/features/todo/components/tasksFilter/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): tasks filter tests
  src/features/todo/components/tasksFilter/__snapshots__/index.test.tsx.snap
  src/features/todo/components/tasksFilter/index.test.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): filter buttons
  src/features/todo/components/tasksFilter/buttons/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): tasks table
  src/features/todo/components/tasksTable/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): search input
  src/features/todo/components/tasksFilter/searchInput/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

feat(component): add TasksTableBody
  src/features/todo/components/tasksTable/body/index.tsx
Due: yarn lint:check, yarn prettier:write, yarn test

Path conditions:
  yarn lint:check: any of: *.{ts,tsx}
  yarn prettier:write: (any of: *.{ts,tsx}) or (any of: *.{html,css,js,json,md})
  yarn test: any of: *.{ts,tsx}
