Repository ahmed-sudani/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:check, yarn prettier:write

.lintstagedrc:

{
  "*.{ts,tsx}": ["yarn lint:check", "yarn prettier:write"],
  "*.{html,css,js,json,md}": "yarn prettier:write"
}

deploy: 4f6884e9620b8c2b0ca371621f898b6b40239dd7
  assets/index-4affcab2.css
  assets/index-81162f61.js
  index.html
Due: yarn prettier:write

fix: remove /core
  package.json
Due: yarn prettier:write

fix(structure): move files outside core folder
  src/components/button/__tests__/__snapshots__/index.test.tsx.snap
  src/components/button/__tests__/index.test.tsx
  src/components/button/index.tsx
  src/components/input/__tests__/__snapshots__/index.test.tsx.snap
  src/components/input/__tests__/index.test.tsx
  src/components/input/index.tsx
  src/components/input/input.with.svg.tsx
  src/types/preact.d.ts
  src/util/cn/index.ts
  src/util/signalSetter/index.test.ts
  src/util/signalSetter/index.ts
  src/util/timeSince/index.test.ts
  src/util/timeSince/index.ts
Due: yarn lint:check, yarn prettier:write

fix(structure): move to global src folder
  src/components/header/__tests__/__snapshots__/inde.test.tsx.snap
  src/components/header/__tests__/inde.test.tsx
  src/components/header/index.tsx
  src/hooks/filter/index.test.ts
  src/hooks/filter/index.ts
  src/signals/filter/index.ts
  src/signals/tasks/index.ts
  src/types/task/index.ts
  src/util/tasks/index.test.ts
  src/util/tasks/index.ts
Due: yarn lint:check, yarn prettier:write

fix(structure): move to new feature
  src/features/taskForm/__tests__/__snapshots__/index.test.tsx.snap
  src/features/taskForm/__tests__/index.test.tsx
  src/features/taskForm/index.tsx
  src/features/tasksFilter/__tests__/__snapshots__/index.test.tsx.snap
  src/features/tasksFilter/__tests__/index.test.tsx
  src/features/tasksFilter/buttons/index.tsx
  src/features/tasksFilter/index.tsx
  src/features/tasksFilter/searchInput/index.tsx
  src/features/tasksTable/body/index.tsx
  src/features/tasksTable/header/index.tsx
  src/features/tasksTable/index.tsx
  src/features/tasksTable/row/ActionButton/index.tsx
  src/features/tasksTable/row/index.tsx
  src/features/tasksTable/row/input/index.test.tsx
  src/features/tasksTable/row/input/index.tsx
  src/features/tasksTable/row/status/index.test.tsx
  src/features/tasksTable/row/status/index.tsx
Due: yarn lint:check, yarn prettier:write

fix: remove unneeded
  src/features/todo/components/tasksActionButtons/__snapshots__/index.test.tsx.snap
  src/features/todo/components/tasksActionButtons/index.test.tsx
  src/features/todo/components/tasksActionButtons/index.tsx
  src/features/todo/components/todo/__snapshots__/index.test.tsx.snap
  src/features/todo/components/todo/index.test.tsx
  src/features/todo/components/todo/index.tsx
Due: yarn lint:check, yarn prettier:write

fix: move Todo to index page
  src/pages/__tests__/__snapshots__/index.test.tsx.snap
  src/pages/__tests__/index.test.tsx
  src/pages/index.tsx
Due: yarn lint:check, yarn prettier:write

deploy: 130a0b86aa910d78c10539c641e56bff579b444d
  assets/index-81162f61.js
  assets/index-9383faae.js
  index.html
Due: yarn prettier:write

feat: dark mode
  src/components/header/index.tsx
  src/components/input/index.tsx
  src/components/nav/index.tsx
  src/components/toggleMode/index.tsx
  src/features/tasksFilter/searchInput/index.tsx
  src/features/tasksTable/index.tsx
  src/features/tasksTable/row/ActionButton/index.tsx
  src/features/tasksTable/row/input/index.tsx
  src/pages/todo/index.tsx
  src/styles/tailwind.css
Due: yarn lint:check, yarn prettier:write

fix: off sort imports
  .eslintrc
Due: none

fix: refactor code + home page
  public/icons/github.svg
  public/icons/moonStars.svg
  public/icons/sun.svg
  public/icons/todoTable.svg
  public/icons/todoTableDark.svg
  src/components/nav/index.tsx
  src/index.tsx
  src/pages/index.tsx
Due: yarn lint:check, yarn prettier:write

feat: react-router + local storage
  package.json
  yarn.lock
Due: yarn prettier:write

fix: config
  .github/workflows/deploy.yml
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: yarn lint:check, yarn prettier:write

feat: netlify config
  netlify.toml
Due: none

fix: center hero section
  src/pages/index.tsx
Due: yarn lint:check, yarn prettier:write
